<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @schedule.start %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @schedule.frequency %>
</p>

<p>
  <strong>Title:</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>Recipients:</strong>
  <%= @schedule.recipients %>
</p>

<p>
  <strong>Last sent:</strong>
  <%= @schedule.last_sent %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
