<p id="notice"><%= notice %></p>

<h1>Listing Responses</h1>

<table class="responses">
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="2">Average</th>
      <th colspan="<%= @responses.length %>">
        Individual Responses
      </th>
    </tr>
  </thead>

  <tbody>
    <% analysis = @survey.analyze %>

    <% @questions.each do |question| %>
        <tr>
          <td><%= question.title %></td>
          <% rating = analysis[question] %>
          <td>
            <img src=<%= "/moods/#{Answer.categorize(rating)}.png" %> />
          </td>
          <td>
            <span><%= sprintf('%.2f', rating) %></span>
          </td>
          <% @responses.each do |response| %>
            <td><img src=<%= "/moods/#{response.answer_for(question).answer}.png" %> /></td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
