<script type="application/javascript">
    $(function() {
        new ZeroClipboard(document.getElementById("copy-join-link"));
    });
</script>

<h1>
  <%= @survey.title %>
  <%= link_to 'Edit', edit_survey_path(@survey), class: 'right small button' %>
</h1>

<%= link_to 'Take', new_survey_response_path(@survey), class: 'round button' %> the survey
or <%= link_to 'View', survey_responses_path(@survey), class: 'round button' %> responses.

<div class="row">
  <div class="small-6 columns">
    <div class="row">
      <div class="small-2 columns">
        <label class="right inline">Share</label>
      </div>
      <div class="small-10 columns">
        <div class="row collapse">
          <div class="small-9 columns">
            <input type="text" value="<%= new_survey_response_url(@survey) %>"/>
          </div>
          <div class="small-3 columns">
            <a id="copy-join-link" class="button postfix" data-clipboard-text="<%= new_survey_response_url(@survey) %>" href="#">Copy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
